html {
  box-sizing: border-box; }

body {
  overflow: hidden; }

#mainMenu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#settings {
  background: white;
  height: 50vh;
  z-index: 150; }

#hardGame {
  background: white; }
  #hardGame .backButton {
    left: 10px; }

#easyGame {
  background: white; }
  #easyGame .backButton {
    right: 10px; }

#easyGame .foeContainer {
  order: -1; }

.foeContainer .gameplayField {
  display: flex;
  justify-content: center;
  align-items: center; }

.foeContainer .foeChoice {
  border: 1px solid red;
  font-size: 250px;
  user-select: none; }

.container {
  height: 100vh;
  width: 100vw;
  border: 1px solid red;
  position: absolute;
  z-index: 100; }

.gameContainer {
  display: flex;
  justify-content: space-between; }

.containerBlock {
  width: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.separator {
  width: 1px;
  background: red;
  position: relative;
  left: -20px; }

.gameplayField {
  border: 1px solid red;
  width: 500px;
  height: 375px;
  display: flex;
  flex-direction: column; }

.inputSelection {
  display: flex;
  justify-content: space-between; }

.inputType {
  width: 45%;
  border: 1px solid red;
  cursor: pointer; }

.scoreBlock {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%); }

.button {
  cursor: pointer;
  border: 1px solid red; }

.backButton {
  border: 1px solid red;
  position: absolute;
  bottom: 10px; }

.controllButtons {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px; }

.buttonInput {
  display: flex;
  justify-content: space-between;
  display: none; }

.inputButton {
  border: 1px solid red;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  cursor: pointer;
  user-select: none; }

.inputButton:hover {
  font-size: 110px; }

.videoInput {
  position: relative; }
  .videoInput video {
    width: 100%;
    height: 100%;
    background: gray; }

.gestureMark {
  position: absolute;
  top: 0;
  left: 300px;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  z-index: 101; }

.gesturePrediction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 125px;
  opacity: 0.7; }

.gestureMark.active {
  border: 3px solid green; }

.videoOnButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  font-size: 125px;
  cursor: pointer;
  color: white; }

.gameInput {
  border: 1px solid red;
  width: 100%;
  height: 100%; }

#settings.container {
  display: flex;
  justify-content: space-between; }

#settings .containerBlock {
  margin: 0 auto; }

.title {
  font-size: 25px;
  border: 1px solid red;
  position: absolute; }

.title.topTitle {
  top: 0;
  left: 50%;
  transform: translate(-50%); }

.title.leftTitle {
  top: 50%;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left; }

.title.rightTitle {
  top: 50%;
  right: 0;
  transform: rotate(90deg);
  transform-origin: top right; }

.title.bottomTitle {
  bottom: 0;
  left: 50%;
  transform: translate(-50%); }

.activatedPage {
  left: 0 !important;
  top: 0 !important; }

#settingsButton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200; }

#settingsButton.activated {
  top: 0;
  z-index: 200;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background: crimson; }

.container.showUp_top {
  bottom: 95vh; }

.container.showUp_right {
  left: 95vw; }

.container.showUp_bottom {
  top: 95vh; }

.container.showUp_left {
  right: 95vw; }

.pageTop {
  left: 0;
  bottom: 100vh; }

.pageRight {
  top: 0;
  left: 100vw; }

.pageLeft {
  top: 0;
  right: 100vw; }

.pageBottom {
  left: 0;
  top: 100vh; }

.videoElement {
  width: 100%;
  height: 100%;
  background-color: #666;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.videoTimeCount {
  position: absolute;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px; }

#devModeCroppedImage {
  z-index: 10000;
  position: fixed; }

.disNone {
  display: none; }

@keyframes bounce {
  0% {
    font-size: 15px; }
  50% {
    font-size: 35px; }
  100% {
    font-size: 15px; } }

.bounceAnim {
  animation: bounce 1s; }
